*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul {
  list-style-type: disc;
  margin-inline: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 1rem;
  justify-items: center;
  color: black;
}

.sort-block {
  text-align: left;
}


.sort-block > span {
  height: 40px;
  width: 40px;
  margin: 4px;
  border: 1px solid red;
  padding: 4px;
  cursor: pointer;
}
